# phpstorm project files
.idea
composer.lock
.svn
runtime
public/assets
public/upload
protected/modules/content 
public/themes/front
vendor
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

