# windows thumbnail cache
Thumbs.db 
/formbuiler
/protected/modules/document
/public/themes/ljftaichi.com 
/public/imagine
/protected/controllers/DefaultController.php
/public/assets
/public/upload
/protected/runtime
/public/themes/front
/public/themes/mincms

/.svn
/vendor
/cronjob/backup
/composer.lock
/public/themes/ljftaichi.com
