.out-error{background:url("../img/error.png") no-repeat; padding: 1px 15px 0 5px;}
.out-right{background:url("../img/right.png") no-repeat; padding: 1px 15px 0 5px;}
.drag{
  	  cursor: pointer;
	  background:url("../img/drag.png"); 
	  background-position: 0px 47px;
	  padding: 6px;
	  margin-right: 8px;
} 
.hander{cursor:pointer;}
.new_error{ 
background: #FBE6F2;
border: 1px solid #D893A1;
color: #333;
margin: 10px 0 5px 0;
padding: 10px; 
}
.form-actions{padding-left: 10px;}